:root {
  --primary-color: #9D4EC7;
  --bg-light-color: #FFFF;
  --bg-gray-color: #F6F7F8;
  --bg-dark-color: #1E1E1E;
  --text-dark-color: rgb(0, 0, 0);
  --text-gray-color: #3f3f3f;
  --text-light-color: #FFFF;
  --font-family: 'Montserrat', sans-serif;
  --shadow: 5px 5px 10px 0px rgba(39, 39, 39, 0.496);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-light-color);
  color: var(--text-dark-color);
  margin: 0;
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  justify-content: space-between;
  flex-direction: column;
}


.logo__title {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 2rem;
  color: var(--primary-color);
  margin: 0;
  text-decoration: none;
}

.header {
  z-index: 100;
  /* width: 100vw; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-light-color);

  clip-path: circle(0.0% at 100% 1%);
  transition: clip-path 0.5s;
}

.header-nav-show {
  clip-path: circle(70.7% at 50% 50%);
}

.header-nav__menu-link-list {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header-nav__link {
  color: inherit;
  text-decoration: none;
}

.header-nav__list-item {
  list-style: none;
  position: relative;
}

.header-nav__list-item::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--bg-dark-color);
  position: absolute;
  bottom: -2px;
  left: 0;
  clip-path: circle(0.0% at 50% 50%);
  transition: clip-path 0.25s cubic-bezier(0.59, 0.36, 0.32, 0.8);
}
.header-nav__list-item--active::after{
  clip-path: circle(70.7% at 50% 50%);
}
.header-nav__list-item:hover::after {
  clip-path: circle(70.7% at 50% 50%);

}

.header-nav__social-icons {
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 3rem;
  color: var(--text-gray-color);
}

.header-nav__social-icon {
  list-style: none;
}

.header-nav__social-link {
  color: var(--text-gray-color);
  transition: color 0.2s ease;
}

.header-nav__social-link:hover {
  color: var(--text-dark-color)
}

.header-nav__menu-icon-label {
  /* font-size: 2.5rem; */
}

.header-nav__menu-icon-label-close {
  font-size: 3rem;
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  /* opacity: 0; */

}

.header-nav__menu-icon-label-close {}

.header-nav__menu-icon-label-close-show {
  clip-path: circle(50% at 50% 50%);
}

.text--deco-line {
  margin: 0;
  position: relative;
  display: inline-block;
}

.text--deco-line::after {
  content: '';
  width: 60%;
  height: 0.15em;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}

/* FOOTER */
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--bg-dark-color);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  padding: 2rem;
  gap: 1rem;
  padding-bottom: 1rem;
}

.footer__loc-icon,
.footer__phone-icon {
  font-size: 1.7rem;
}

.footer__contact-location,
.footer__contact-telephone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-items: center;
}

.footer__social-icon {
  color: inherit;
}

.footer__contact {
  border-bottom: 1px solid var(--text-gray-color);
}

.footer__social {
  justify-content: center;
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
}

.footer__logo__title {
  font-family: 'Montserrat';
  font-weight: 800;
  /* font-size: 2rem; */
  color: var(--primary-color);
  margin: 0;
  text-decoration: none;
}

.text--medium {
  font-size: 1rem;
}

.text--small {
  font-size: 0.9rem;
}

.text--gray {
  color: var(--text-gray-color)
}

.text--bold {
  font-weight: bold;
}

.text--italic {
  font-style: italic;
}

.burger {
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 200;
}

.burger-button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.burger-u,
.burger-m,
.burger-d {
  width: 100%;
  height: 3.5px;
  background-color: var(--text-gray-color);
  border-radius: 10px;
  transition: transform 0.25s;
}

.burger-u-cross {
  transform: rotateZ(45deg) scale(1.2) translateY(5px) translateX(5px);
}

.burger-m-cross {
  transform: scale(0);
  transform-origin: right;
}

.burger-d-cross {
  transform: rotateZ(-45deg) scale(1.2) translateY(-8px) translateX(7px);
}



@media(min-width: 992px) {
  body {
    align-items: center;
  }

  .header {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
  }

  .header-container {
    width: 100%;

  }

  .burger {
    display: none;
  }

  .header-nav {
    clip-path: none;
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    transform: none;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  .header-nav__menu-link-list {
    flex-direction: row;
    font-size: 1rem;
    gap: 1rem;
  }

  .header-nav__social-icons {
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 1.5rem;
    font-size: 3rem;
    color: var(--text-gray-color);

    font-size: 2rem;
  }

  .footer__contact {
    grid-area: contact;
    border-bottom: none;
  }

  .footer__social {
    grid-area: social;
  }

  .footer__logo {
    grid-area: logo;
  }

  .footer-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "logo contact"
      "logo social";
  }
  .footer__logo__title {
    font-size: 2rem;
  }
}